.list__img-title {
    width: 100%;
    height: auto;
    text-align: center;
}

.list__img-title img {
    width: 40%;
    max-width: 180px;
}

.list__img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.list__img:hover .list__hover {
    opacity: 1;
}

.list__hover {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #39b4acf2;
    opacity: 0;
}

.list__hover span {
    color: white;
    font-weight: 500;
}

.list__hover svg {
    width: 20%;
    height: 20%;
}

.list__txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: white;
    position: relative;
}

.list__txt-title p,
.list__txt-price {
    color: #303538;
    font-weight: 500;
}

.list__txt-title span {
    color: #b8b7b6;
    font-size: 12px;
}

.list__txt-title a {
    color: #7d7b78;
    font-weight: 500;
    font-size: 12px;
}

.list__txt-title a:hover {
    color: #303538;
}

.list__txt-price {
    padding: 3px;
    background-color: #dff8f6;
    z-index: 1;
}

.list__txt-price::after,
.list__txt-price::before {
    content: "";
    position: absolute;
    display: block;
}

.list__txt-price::before {
    background-color: #dff8f6;
    padding: 9px;
    transform: translateX(-12px) translateY(0.5px) rotate(45deg);
    z-index: -1;
}

.list__txt-price::after {
    background-color: white;
    padding: 2px;
    border-radius: 100%;
    transform: translateX(-10px) translateY(-12px);
}

.ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.seaall {
    text-align: center;
    padding: 5rem 0;
}

.seaall__title {
    padding: 12px 10px;
    border: 3px solid #00C0CA;
    text-align: center;
    border-radius: 3px 15px;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #00C0CA;
    text-transform: uppercase;
}

.seaall__title:hover {
    background-color: #00C0CA;
    color: white;
}

.seaall p,
.seaall p a {
    font-size: 1.5rem;
    color: #b8b7b6;
}

.seaall p a {
    font-weight: 700;
    color: #FF664C;
}

.keep {
    background-color: #eeeeee;
    clear: both;
}

.keep__pd {
    padding: 5rem 0 0 0;
}

.keep__item {
    border-radius: 10px;
}

.keep__item-img {
    border-radius: 10px 10px 0 0;
}

.keep__txt {
    padding: 15px;
}

.keep__txt h3 {
    color: #b8b7b6;
    font-weight: 200;
    letter-spacing: 1.2px;
}

.keep__txt a {
    color: #FF664C;
    font-size: 15px;
    line-height: 50px;
    font-weight: 400;
}
.keep__txt a:hover{
    color: black;
}
.keep__link {
    position: relative;
    display: block;
}

.keep-ab {
    position: absolute;
    padding: 12px 15px 12px 30px;
    background-color: #696D79;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 100%;
}

.keep-ab p,
.keep-ab p span {
    position: relative;
    color: white;
    text-align: right;
    font-size: 17px;
    line-height: 1.2;
}

.keep-ab p span {
    color: #00C0CA;
    font-weight: 700;
}

.about {
    width: 100%;
    height: auto;
    background-color: #444957;
    color: white;
    padding: 5rem 0 3rem 0;
}

.about__title {
    align-items: center;
    letter-spacing: 1px;
    color: #FEE97E;
    padding: 5px 0;
}

.about__title img {
    width: 100%;
    max-width: 60px;
    height: auto;
}

.about__title h3 {
    font-weight: 200;
    padding: 0 10px;
    font-size: 2.5rem;
}

.video {
    position: relative;
}

.video video {
    position: absolute;
    width: 100%;
    z-index: -100;
    overflow: hidden;
    min-height: 100%;
    height: auto;
}

.video__bg {
    width: 100%;
    background-color: rgba(0, 159, 170, 0.8);
    ;
    height: 100%;
    background: radial-gradient(ellipse at right, rgba(0, 159, 170, 0.8) 40%, rgba(0, 159, 170, 1) 60%);
}

.wave {
    width: 100%;
    background-image: url('./img/gray_divide.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.wave__img {
    width: 65%;
}

.wave__form {
    width: 60%;
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    margin-top: 40px;
}

.wave__form h3,
.wave__form span {
    font-size: 28px;
    line-height: 32px;
    font-weight: 200;
    font-style: normal;
    color: white;
}

.wave__form span {
    color: #FEE97E;
    font-weight: 400;
}

.wave__form input {
    width: 100%;
    padding: 12px 3% 12px 3%;
    margin-bottom: 25px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    color: #292832;
}

.wave__form input[type="submit"] {
    padding: 10px 10px 10px 10px;
    border: 5px solid #444957;
    cursor: pointer;
    width: 250px;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #444957;
    letter-spacing: 1px;
    border-radius: 15px 3px 15px 3px;
}

.wave__form input[type="submit"]:hover {
    background-color: transparent;
    color: #444957;
    font-weight: 700;
}

@media screen and (max-width: 1023px) {

    .wave__img,
    .video video {
        display: none;
    }

    .wave__form {
        position: relative;
        transform: translateY(0);
        margin: 0 auto;
        margin-top: 8rem;
    }

    .wave__form input {
        font-size: 18px;
        padding: 8px;
        margin-bottom: 15px;
    }

    .wave__form input[type="submit"] {
        width: 60%;
        font-size: 18px;
        padding: 8px;
    }

    .about__title h3 {
        font-size: 25px;
    }

    .about__title img {
        max-width: 50px;
    }
}

@media screen and (max-width: 767px) {
    .wave__form {
        width: 100%;
    }

    .wave__form h3,
    .wave__form span {
        font-size: 20px;
    }
}